### MISC ###
NEXT_PUBLIC_DEMO_MODE=true

# AUTH
NEXTAUTH_URL=http://localhost:4200
NEXT_PUBLIC_ROOT_DOMAIN=localhost:4200
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
TOKEN_EXPIRATION_SKEW=5

### AXIOS ###
AUTH_API_URL=http://localhost:8085
AI_API_URL=http://localhost:8085
QUIZ_API_URL=http://http://localhost:8081
NEXT_PUBLIC_SSE_URL=http://http://localhost:8082
PROFILE_API_URL=http://http://localhost:8084

### PRISMA ###
DATABASE_URL=

### AI ###
AI_GATEWAY_API_KEY=
OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=